<a href="https://colab.research.google.com/github/Harsh284raj/PythonLab/blob/main/DivineAI/Day1Lab/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
A="Harsh"
print(type(A))
print (type(7.2))
print(type(100))
x,y,z=1,2,3
x,y,z=y,z,x
print(x,y,z)

<class 'str'>
<class 'float'>
<class 'int'>
2 3 1

In [28]:
  
divisor, divident = 6, 
ans = divident / divisor
print(ans)
a, b, c, d = 2, 3, 4, 5

ans = a + b * c / d
print(ans)

# ** is power
exp = a ** b
print(exp)

mod = b % a
print(mod)

# // returns integer division result
intDiv = d // a
# / returns float division result
div = d / a
print(div, intDiv)


'''
PEMDAS
Parentheses
Exponents
Multiplication
Division
Addition
Subtraction
'''

0.5
4.4
8
1
2.5 2

'\nPEMDAS\nParentheses\nExponents\nMultiplication\nDivision\nAddition\nSubtraction\n'

In [29]:
num = 10
print(num * 2)
print(num)

num /= 2
print(num)

#Naming Convension
#snake_case
snake_case = 10

#for constants
CAPITAL_SNAKE_CASE, PI = 100, 3.14159603
#for class
class UpperCamelCase:
    pass

#dunders ('d'ouble 'unders'cores) means something u shouldn't touch

20
10
5.0

In [30]:
'''
bool
int
str
list
dict
'''

#bool
is_active = True
inactive = not is_active
print(is_active)
print(not is_active)
print(inactive)
print(not inactive)

#str
some_string = "Har har mahadev!"
print(some_string)

#list
my_number = [1, 2, 4, 3]
print(my_number)
print(my_number[2])

#dict
my_name={'first_name': "Harsh" ,'Last_name': "Raj"}
print(my_name)
print(my_name['first_name'])
print(my_name['Last_name'])

True
False
False
True
Har har mahadev!
[1, 2, 4, 3]
4
{'first_name': 'Harsh', 'Last_name': 'Raj'}
Harsh
Raj

In [31]:
  
game_over = True
print(game_over)

game_over = "Yes, it's over!"
print(game_over)

game_over = 5*2
print(game_over)

#None is nothing
game_over = None
print(game_over)
print(type(game_over))

True
Yes, it's over!
10
None
<class 'NoneType'>

In [32]:
single_qoute = 'hello'
double_qoute = "hello"
print(single_qoute)
print(double_qoute)

qoute = 'he said, "hello there!"'
print(qoute)
qoute = "he said, 'hello there'"
print(qoute)

qoute = "he said, \"hello there!\""
print(qoute)

#string concatenation
username = "mhkm"
msg = "Hello " + username
print(msg)

#Formatting String
name = "Humayun"
msg = f"Hello Mr. {name} Welcome!"
msg2 = "Hello Mr. {} Welcome!".format(name)
print(msg)
print(msg2)

hello
hello
he said, "hello there!"
he said, 'hello there'
he said, "hello there!"
Hello mhkm
Hello Mr. Humayun Welcome!
Hello Mr. Humayun Welcome!

In [33]:
intx = 10
print(type(intx))

floatx = float(intx)
print(floatx)

<class 'int'>
10.0

In [34]:
print("How many KM did you cycle today?")
# by default input return string input
kms = float(input())
miles = kms/1.61
# precisions
miles = round(miles, 3)
print(f"Your {kms} KM is {miles} Miles")

How many KM did you cycle today?
10
Your 10.0 KM is 6.211 Miles

In [35]:
  
print("What's your favorite color?")
color = input()
print("Your color is: " + color)

What's your favorite color?
red
Your color is: red

In [36]:
name = "humayun"

if name is "humayun":
    print("First Name")
elif name is "kabir":
    print("Last Name")
else:
    print("Wrong Name")

name = "kabir"
if name == "humayun":
    print("First Name")
elif name == "kabir":
    print("Last Name")
else:
    print("Wrong Name")

First Name
Last Name

In [41]:
  
print("Give a rating on my work(out of 5)!")
rate = int(input())

if rate is 5:
    print("Excellent")
elif rate is 4:
    print("Very Good")
elif rate is 3:
    print("Good")
elif rate is 2:
    print("Not Good")
elif rate is 1:
    print("Bad")
else:
    print("Rating should be in 1 to 5")

Give a rating on my work(out of 5)!
5
Excellent

In [39]:
  
age, sex = 20, "Female"

if age > 18 and sex is "Female":
    print("Go and Get Marry")
else:
    print("You don't have marry")

Go and Get Marry